:host {
  width: 100%;
  margin: 20px;
}

.comment-list-container {
  text-align: center;

  .new-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;

    input {
      margin-right: 5px;
      padding: 5px 10px;
      width: 100%;
      height: 40px;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: var(--ion-color-step-50);
    }
  }
}