<div class="comment-list-container">

  <h1>{{ title }}</h1>

  <!-- add a new comment -->
  <div class="new-comment" *ngIf="notesState">
    <input [(ngModel)]="text" [disabled]="creating" (keyup.enter)="create(text)">
    <ion-button (click)="create(name.value)" [disabled]="creating">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </div>

  <!-- list of existing comments -->
  <app-comment-card
    [retro]="retro"
    [collection]="collection"
    [comment]="comment"
    [allowVoting]="allowVoting"
    *ngFor="let comment of comments">
  </app-comment-card>
</div>