<div class="comment-list-container">

  <h1>{{ header }}</h1>

  <!-- add a new comment -->
  <form class="new-comment" *ngIf="notesState && playing" (ngSubmit)="create(text)">
    <input name="comment" [(ngModel)]="text" [disabled]="creating">
    <ion-button type="submit" [disabled]="creating">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </form>

  <!-- list of existing comments -->
  <app-comment-card
    [retro]="retro"
    [commentsIndex]="commentsIndex"
    [comment]="comment"
    [allowVoting]="allowVoting"
    [playing]="playing"
    *ngFor="let comment of comments">
  </app-comment-card>

  <!-- loading state -->
  <h6 *ngIf="loading; else emptyStates">Loading...</h6>

  <ng-template #emptyStates>
    <!-- not playing, waiting for comments -->
    <h6 *ngIf="notesState && !playing">Waiting for players to finish up...</h6>

    <!-- no comments after notes state -->
    <h6 *ngIf="!notesState && comments.length === 0">No comments? 🤔</h6>
  </ng-template>
</div>