:host {
  width: 100%;
}

.state-progress-bar-container {
  background: var(--ion-color-step-50);
  border-bottom: 1px solid #7f7f7f;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .state {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    text-align: center;

    .label {
      font-size: 20px;
      padding: 4px 8px;
      font-weight: bold;
    }

    .buttons.hidden,
    .buttons.hidden ion-button {
      opacity: 0;
      pointer-events: none;
      cursor: initial;
    }

    &.selected .label {
      color: #3780ff;
    }
  }
}

@media (max-width: 600px) {
  .state-progress-bar-container {
    height: 55px;

    .state {
      display: none;

      &.selected {
        width: 100%;
        padding: 0 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}