<ion-card mode="md" class="comment" *ngIf="comment">
  <ion-item mode="ios">
    <!-- readonly mode -->
    <p *ngIf="readonly">{{ comment.text }}</p>

    <!-- notes state controls -->
    <ng-container *ngIf="notesState && !ready">
      <!-- editable comment -->
      <ion-textarea [(ngModel)]="editableText" autoGrow="true" *ngIf="editing"></ion-textarea>

      <!-- not editing -->
      <ion-button fill="clear" slot="end" (click)="startEditing()" *ngIf="!editing">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="clear" slot="end" (click)="deleteComment()" *ngIf="!editing">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>

      <!-- editing -->
      <ion-button fill="clear" slot="end" (click)="saveEdit()" *ngIf="editing">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="clear" slot="end" (click)="discardEdit()" *ngIf="editing">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ng-container>

    <!-- discussion state -->
    <ng-container *ngIf="discussionState">
      <ion-badge [color]="myComment ? 'primary' : 'medium'" slot="end">{{ comment.owner.name }}</ion-badge>
    </ng-container>

    <!-- voting state -->
    <ng-container *ngIf="votingState && allowVoting">
      <ion-button fill="clear" slot="end" (click)="upvote()" *ngIf="playing">
        <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="end" (click)="downvote()" *ngIf="playing">
        <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
      </ion-button>
      <ion-badge color="primary" slot="end">{{ voteCount }}</ion-badge>
    </ng-container>

    <!-- finished state -->
    <ng-container *ngIf="finishedState && allowVoting">
      <ion-badge color="primary" slot="end">{{ voteCount }}</ion-badge>
    </ng-container>
  </ion-item>
</ion-card>