.retro-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .comment-lists {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 800px) {
  .retro-container .comment-lists {
    flex-direction: column;

    app-comment-list {
      width: initial;
      margin: initial;
    }
  }
}