<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ (retro$ | async)?.name || 'Loading...' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="joinRetro()" *ngIf="!playing">
        Join Retro
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="retro-container" *ngIf="retro$ | async as retro; else loading">

    <app-state-progress-bar [retro]="retro"></app-state-progress-bar>
    <app-players-bar [retro]="retro"></app-players-bar>

    <section class="comment-lists" [class.wrap]="shouldWrap(retro)">
      <app-comment-list
        *ngFor="let list of retro.commentLists; let index = index"
        [commentsIndex]="index"
        [header]="list.header"
        [allowVoting]="list.allowVoting"
        [retro]="retro"
        [playing]="playing"
        [ready]="me?.ready">
      </app-comment-list>
    </section>

    <ion-button (click)="toggleReady()" *ngIf="playing && retro.state === 'Notes'">
      {{ me?.ready ? 'Write more' : 'I\'m done' }}
    </ion-button>

  </div>
</ion-content>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>
