<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ (retro$ | async)?.name || 'Loading...' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="retro-container" *ngIf="retro$ | async as retro; else loading">

    <app-state-progress-bar [retro]="retro"></app-state-progress-bar>
    <app-players-bar [retro]="retro"></app-players-bar>

    <section class="comment-lists">
      <app-comment-list title="Went Well" collection="thegood" [retro]="retro"></app-comment-list>
      <app-comment-list title="Improvement Required" collection="thebad" [retro]="retro"></app-comment-list>
    </section>
    <ion-button (click)="markPlayerDone(retro)" *ngIf="playing">I'm done</ion-button>

  </div>
</ion-content>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>
