.retro-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .comment-lists {
    width: 100%;
    display: flex;
    justify-content: center;

    app-comment-list {
      max-width: 750px;
    }

    &.wrap {
      flex-direction: column;

      app-comment-list {
        max-width: initial;
        margin: initial;
      }
    }
  }
}