.container {
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    max-width: 90vw;

    input {
      margin-right: 5px;
      padding: 5px 10px;
      width: 250px;
      height: 40px;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: var(--ion-color-step-50);
    }
  }
}