:host {
  width: 100%;
}

.players-bar-container {
  padding: 8px;
  min-height: 40px;

  ion-badge {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    margin-right: 8px;

    ion-icon {
      margin-left: 5px;
    }
  }
}